<div class="knowledge-explorer">
  {{knowledge-explorer-search
    searchTerm=(readonly searchTerm)
    onSearch=(action "performSearch")
  }}
  {{#conditional-loading-spinner condition=isLoading}}
    <div class="knowledge-explorer-browse">
      <div class="knowledge-explorer-tags">
        {{#each tags as |tag|}}
          {{knowledge-explorer-tag
            tag=tag
            selectTag=(action "updateSelectedTags")
          }}
        {{/each}}
      </div>
      {{#if selectedTopic}}
        {{#conditional-loading-spinner condition=isTopicLoading}}
          {{knowledge-explorer-topic topic=topic}}
        {{/conditional-loading-spinner}}
      {{else}}
        <div class="knowledge-explorer-results">
          {{#if isSearching}}
            {{#if emptySearchResults}}
              <div class="result-count no-result">
                {{i18n 'search.no_results'}}
              </div>
            {{else}}
              <div class="result-count">
                {{i18n 'knowledge_explorer.search.results'
                  count=searchCount
                }}
              </div>
            {{/if}}
          {{/if}}
          {{#unless emptySearchResults}}
            {{knowledge-explorer-topic-list
              topics=topics
              selectTopic=(action "setSelectedTopic")
              loadMore=(action "loadMore")
              loading=isLoadingMore
            }}
          {{/unless}}
        </div>
      {{/if}}
    </div>
  {{/conditional-loading-spinner}}
</div>
