<div class="knowledge-explorer">
  <div class="knowledge-explorer-filter">
    {{knowledge-explorer-search searchResults=searchResults searchTerm=searchTerm filterTags=filterTags}}
  </div>
  <div class="knowledge-explorer-browse">
    {{knowledge-explorer-tag-list
        tags=tags
        filterTags=filterTags
    }}
    {{#if hasSearchResults}}
      {{#if emptySearchResults}}
        <div class="no-result">{{i18n 'search.no_results'}}</div>
      {{else}}
        <div>{{i18n 'knowledge_explorer.search.results' count=searchCount}}</div>
        {{knowledge-explorer-topic-list topics=searchResults}}
      {{/if}}
    {{else}}
      {{knowledge-explorer-topic-list topics=topics}}
    {{/if}}
  </div>
</div>
