<div class="knowledge-explorer">
  {{#if selectedTopic}}
    {{knowledge-explorer-topic topic=topic}}
  {{else}}
    <div class="knowledge-explorer-search">
      {{knowledge-explorer-search 
        onSearch=(action "performSearch")
      }}
    </div>
    <div class="knowledge-explorer-browse">
      <div class="knowledge-explorer-tags">
        {{#each tags as |tag|}}
            {{knowledge-explorer-tag 
              tag=tag
              selectTag=(action "updateSelectedTags")
            }}
        {{/each}}
      </div>
      <div class="knowledge-explorer-results">
      {{#if hasSearchResults}}
        {{#if emptySearchResults}}
          <div class="result-count no-result">{{i18n 'search.no_results'}}</div>
        {{else}}
          <div class="result-count">{{i18n 'knowledge_explorer.search.results' count=searchCount}}</div>
          {{knowledge-explorer-topic-list 
            topics=searchResults 
            selectTopic=(action "setSelectedTopic")
          }}
        {{/if}}
      {{else}}
        {{knowledge-explorer-topic-list 
          topics=topics 
          selectTopic=(action "setSelectedTopic")
        }}
      {{/if}}
      </div>
    </div>
  {{/if}}
</div>
