<div class="knowledge-explorer">
  <div class="knowledge-explorer-filter">
    {{knowledge-explorer-search searchResults=searchResults searchTerm=searchTerm}}
  </div>
  <div class="knowledge-explorer-browse">
    {{#if filteredTags}}
      {{knowledge-explorer-tag-list
          tags=filteredTags
          filterTags=filterTags
      }}
    {{else}}
      {{knowledge-explorer-tag-list
          tags=tags
          filterTags=filterTags
      }}
    {{/if}}
    {{#if filtered}}
      {{#if filteredTopics}}
        {{knowledge-explorer-topic-list topics=filteredTopics}}
      {{else}}
        <div class="no-result">No results match the current filter</div>
      {{/if}}
    {{else}}
      {{knowledge-explorer-topic-list topics=topics}}
    {{/if}}
  </div>
</div>
