<DButton
  @label="docs.topic.back"
  class="docs-nav-link return"
  @action={{return}}
/>

<div class="topic-content">
  <h1>{{html-safe topic.fancyTitle}}</h1>

  {{! template-lint-disable no-capital-arguments }}
  <MountWidget @widget="post" @model={{model}} @args={{post}} />
</div>

<a class="docs-nav-link more" href="/t/{{topic.id}}">
  {{d-icon "far-comment"}}
  {{i18n "docs.topic.navigate_to_topic"}}
</a>

<span>
  <PluginOutlet @name="after-docs-topic" @connectorTagName="div" />
</span>