<span class="docs-search-wrapper">
  <Input
    @type="text"
    @value={{readonly this.searchTerm}}
    class="no-blur docs-search-bar"
    autocorrect="off"
    placeholder={{i18n "docs.search.placeholder"}}
    autocapitalize="off"
    {{on "keydown" this.onKeyDown}}
  />

  {{#if this.searchTerm}}
    <DButton
      @action={{action "clearSearch"}}
      class="clear-search"
      @label="docs.search.clear"
    />
  {{else}}
    {{d-icon "search"}}
  {{/if}}
</span>