{{d-button
  label="docs.topic.back"
  class="docs-nav-link return"
  action=return
}}

<div class="topic-content">
  <h1>{{html-safe topic.fancyTitle}}</h1>

  {{mount-widget
    widget="post"
    model=model
    args=post
  }}

  {{share-popup topic=model.topic}}
</div>

<a class="docs-nav-link more" href="/t/{{topic.id}}">
  {{d-icon "far-comment"}} {{i18n "docs.topic.navigate_to_topic"}}
</a>

{{plugin-outlet name="after-docs-topic"}}
