<LoadMore @selector=".topic-list tr" @action={{this.loadMore}}>
  <table class="topic-list">
    <thead class="topic-list-header">
      <th role="button" class="topic-list-data" {{action "sortListTitle"}}>
        {{i18n "docs.column_titles.topic"}}

        {{#if this.sortTitle}}
          {{#if this.ascending}}
            {{d-icon "angle-up"}}
          {{else}}
            {{d-icon "angle-down"}}
          {{/if}}
        {{/if}}
      </th>

      <th role="button" class="topic-list-data" {{action "sortListActivity"}}>
        {{i18n "docs.column_titles.activity"}}

        {{#if this.sortActivity}}
          {{#if this.ascending}}
            {{d-icon "angle-up"}}
          {{else}}
            {{d-icon "angle-down"}}
          {{/if}}
        {{/if}}
      </th>
    </thead>

    <tbody class="topic-list-body">
      {{#each this.topics as |topic|}}
        {{docs-topic-list-item
          topic=topic
          urlPath=this.urlPath
          showExcerpt=this.showExcerpts
        }}
      {{/each}}
    </tbody>
  </table>
</LoadMore>

<ConditionalLoadingSpinner @condition={{this.loading}} />