<LoadMore @selector=".topic-list tr" @action={{loadMore}}>
  <table class="topic-list">
    <thead class="topic-list-header">
      <th role="button" class="topic-list-data" {{action "sortListTitle"}}>
        {{i18n "docs.column_titles.topic"}}

        {{#if sortTitle}}
          {{#if ascending}}
            {{d-icon "angle-up"}}
          {{else}}
            {{d-icon "angle-down"}}
          {{/if}}
        {{/if}}
      </th>

      <th role="button" class="topic-list-data" {{action "sortListActivity"}}>
        {{i18n "docs.column_titles.activity"}}

        {{#if sortActivity}}
          {{#if ascending}}
            {{d-icon "angle-up"}}
          {{else}}
            {{d-icon "angle-down"}}
          {{/if}}
        {{/if}}
      </th>
    </thead>

    <tbody class="topic-list-body">
      {{#each topics as |topic|}}
        {{raw
          "docs-topic-list-item"
          topic=topic
          urlPath=urlPath
          showExcerpt=showExcerpt
        }}
      {{/each}}
    </tbody>
  </table>
</LoadMore>

<ConditionalLoadingSpinner @condition={{loading}} />