<span class="docs-search-wrapper">
  <Input
    @type="text"
    @value={{readonly searchTerm}}
    @input={{action "onSearchTermChange" value="target.value"}}
    class="no-blur docs-search-bar"
    autocorrect="off"
    placeholder={{i18n "docs.search.placeholder"}}
    autocapitalize="off"
  />

  {{#if searchTerm}}
    <DButton
      @action={{action "clearSearch"}}
      class="clear-search"
      @label="docs.search.clear"
    />
  {{else}}
    {{d-icon "search"}}
  {{/if}}
</span>