<a  {{action "selectCategory"}} class="knowledge-explorer-item knowledge-explorer-category {{if category.active 'selected'}}">
  {{#unless category.active}}
    {{d-icon "plus"}}
  {{/unless}}
  {{#if category.active}}
    {{d-icon "times-circle"}}
  {{/if}}
  <span class="knowledge-explorer-item-id category-id">{{categoryName}}</span>
  <span class="knowledge-explorer-item-count category-count">{{category.count}}</span>
</a>
