{{#load-more selector=".topic-list tr" action=loadMore}}
  <table class="topic-list">
    <thead>
      <th {{action "sortListTitle"}}>
        {{i18n 'knowledge_explorer.column_titles.topic'}}
        {{#if sortTitle}}
          {{#if ascending}}
            {{d-icon 'angle-up'}}
          {{else}}
            {{d-icon 'angle-down'}}
          {{/if}}
        {{/if}}
      </th>
      <th {{action "sortListActivity"}}>
        {{i18n 'knowledge_explorer.column_titles.activity'}}
        {{#if sortActivity}}
          {{#if ascending}}
            {{d-icon 'angle-up'}}
          {{else}}
            {{d-icon 'angle-down'}}
          {{/if}}
        {{/if}}
      </th>
    </thead>
    <tbody>
      {{#each topics as |topic|}}
        {{raw "knowledge-explorer-topic-list-item" topic=topic}}
      {{/each}}
    </tbody>
  </table>
{{/load-more}}

{{conditional-loading-spinner condition=loading}}
