<div class="knowledge-explorer-category {{if category.active 'selected'}}">
  {{#unless category.active}}
    {{d-icon "plus"}}
  {{/unless}}
  <span class="category-id">{{categoryName}}</span>
  <span class="category-count">({{category.count}})</span>
  {{#if category.active}}
    {{d-icon "times-circle"}}
  {{/if}}
</div>
