<div class="knowledge-explorer-tag {{if tag.active 'selected'}} {{if subtag 'subtag'}}">
  {{#unless tag.active}}
    {{d-icon "plus"}}
  {{/unless}}
  <span class="tag-id">{{tag.id}}</span>
  <span class="tag-count">({{tag.count}})</span>
  {{#if tag.active}}
    {{d-icon "times-circle"}}
  {{/if}}
</div>
