<a
  href
  {{action this.selectCategory}}
  class="docs-item docs-category {{if this.category.active 'selected'}}"
>
  {{d-icon (if this.category.active "circle-xmark" "far-circle")}}

  <span class="docs-item-id category-id">{{this.categoryName}}</span>
  <span class="docs-item-count category-count">{{this.category.count}}</span>
</a>